<!-- Content Row -->
<div class="row">
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">City Rides Count
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboarddata.city_ride_count}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-taxi fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">City Rides Count (Cash)
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboarddata.city_ride_cash_count}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">City Rides Count (Online)
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboarddata.city_ride_online_count}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-credit-card fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Cancelled City Rides Count
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboarddata.canceled_city_rides_count}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-times-circle fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Trips Count
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboarddata.highway_trips_count}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-bus fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Cancelled Trips Count
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboarddata.canceled_highway_trips_count}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-times-circle fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{currencySymbol}}{{dashboarddata.earnings}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-piggy-bank fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cancellation Charges
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{currencySymbol}}{{dashboarddata.cancellation_charges}}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-cut fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- Content Row -->
<div class="row">
	<!-- Area Chart -->
	<div class="col-xl-8 col-lg-7">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Upcoming Trips</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				
			</div>
		</div>
	</div>
	<!-- Pie Chart -->
	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Bank Details</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<table class="table table-bordered table-hover">
					<tbody>
					  <tr>
						<td class="text-gray-900">Account Name</td>
						<td>{{bankinfo.account_holder_name}}</td>
					  </tr>
					  <tr>
						<td class="text-gray-900">Bank</td>
						<td>{{bankinfo.bank_name}}</td>
					  </tr>
					  <tr>
						<td class="text-gray-900">IFSC Code</td>
						<td>{{bankinfo.ifsc_code}}</td>
					  </tr>
					  <tr>
						<td class="text-gray-900">Account No.</td>
						<td>{{bankinfo.account_number}}</td>	
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>